body {
  
  max-width: 1140px;
  margin: 2em auto !important;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.container > div {
  border-radius: 5px;
  padding: 10px;
  box-shadow: 2px 2px 5px rgb(207, 207, 207);
  border: 1px solid gray;
}
.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-auto-columns: minmax(100px, auto);
  grid-gap: 20px;
}

.container-details {
  max-width: 300px;
  margin: auto;
  box-shadow: 2px 2px 5px rgb(207, 207, 207);
  border: 1px solid gray;
  text-align: left;
}